#myModal.modal.fade(role="dialog")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button",data-dismiss="modal") &times;
				h4.modal-title Disponibilidad - {{tituloPopup}}
			.modal-body
				form("Disponibilidad","disponibilidadForm")
					.col-lg-6
						+controlFilium-select-empty("Desde","horaInicio","horaInicio","{ selectActive: selectChangehoraInicio ,success: submittedDisponibilidad && disponibilidadForm.horaInicio.$valid, error: submittedDisponibilidad && disponibilidadForm.horaInicio.$invalid}","submittedDisponibilidad && disponibilidadForm.horaInicio.$invalid")(required)(ng-options="hora.text for hora in horas track by hora.id",ng-change="priComboSelected(horaInicio);")
					.col-lg-6
						+controlFilium-select-empty("Hasta","horaFin","horaFin","{ selectActive: selectChangehoraFin ,success: submittedDisponibilidad && disponibilidadForm.horaFin.$valid, error: submittedDisponibilidad && disponibilidadForm.horaFin.$invalid}","submittedDisponibilidad && disponibilidadForm.horaFin.$invalid")(required)
							option(ng-repeat="hora in horas track by hora.id",value="{{hora.id}}",ng-disabled="!hora.isinuse") {{hora.text}}
					a.fbtn.fbtn-primary(href="javascript:void(0)",ng-click="submittedDisponibilidad=true;agregando(horaInicio,horaFin);") Agregar
				.row
					.col-lg-12
						.panel.panel-default
							.table-responsive
								table#table-ext-1.table.table-bordered.table-hover
									thead
										tr
											th.text-center #
											th.text-center Hora Inicio
											th.text-center Hora Fin
											th.text-center Estado
											th.text-center Eliminar
									tbody
										tr(ng-repeat="evento in eventosDia | orderBy:'+id' track by evento.identificador",ng-class="{'ocupado':evento.state=='ocupado'}")
											td {{ $index+1 }}
											td {{ evento.hIni }}
											td {{ evento.hFin }}
											td {{ evento.title }}
											td
												div
													button.btn.btn-sm.btn-danger(ng-click='removeHorario(evento.identificador)', title="Delete", ng-class="{'disabled':evento.state=='ocupado'}"): em.fa.fa-trash
			.modal-footer
				a.fbtn.fbtn-primary.cancel(data-dismiss="modal") Close