+form-header-cv("Formación Profesional","estudiosForm")
	.container-cv(ng-show="mostrarForm")
		.layout-content
			+controlFilium-select-empty("Centro de Estudios","centroEstudios","studyCenter","{selectActive: selectChangecentroEstudios,success: submittedProfessionalEducation && estudiosForm.centroEstudios.$valid, error: submittedProfessionalEducation && estudiosForm.centroEstudios.$invalid}","submittedProfessionalEducation && estudiosForm.centroEstudios.$invalid")(required)
				option(ng-repeat="options in studyCenterJson" value="{{options.id}}") {{options.value}}
		.layout-content
			+controlFilium-select-empty("Grado Académico","gradoAcademico","academicDegree","{selectActive: selectChangegradoAcademico,success: submittedProfessionalEducation && estudiosForm.gradoAcademico.$valid, error: submittedProfessionalEducation && estudiosForm.gradoAcademico.$invalid}","submittedProfessionalEducation && estudiosForm.gradoAcademico.$invalid")(required)
				option(ng-repeat="options in academicDegreeJson" value="{{options.id}}") {{options.value}}
		.layout-content
			+controlFilium-text("Nombre de la Carrera","nombreCarrera","careerName","{success: submittedProfessionalEducation && estudiosForm.nombreCarrera.$valid, error: submittedProfessionalEducation && estudiosForm.nombreCarrera.$invalid}","submittedProfessionalEducation && estudiosForm.nombreCarrera.$invalid")(names,required)
		.layout-content
			.layout-2-3.padding-2-3
				+controlFilium-text("Nombre de la Mención","nombreMencion","mentionName","{success: submittedProfessionalEducation && estudiosForm.nombreMencion.$valid, error: submittedProfessionalEducation && estudiosForm.nombreMencion.$invalid}","submittedProfessionalEducation && estudiosForm.nombreMencion.$invalid")(ng-disabled="!vMencion",ng-required="vMencion")
			.layout-dateIF-last.padding-datedateIF-last
				+controlFilium-check("Incluir Mención","checkMencion","checkMen","vMencion=false","vMencion=!vMencion")
		.layout-content
			.layout-dateIF.padding-dateIF
				+controlFilium-date("Fecha de Inicio","fechaInicio","startDate","{success: submittedProfessionalEducation && estudiosForm.fechaInicio.$valid, error: submittedProfessionalEducation && estudiosForm.fechaInicio.$invalid}","submittedProfessionalEducation && estudiosForm.fechaInicio.$invalid")(ng-required="!editando")
			.layout-dateIF.padding-dateIF
				+controlFilium-date("Fecha de Fin","fechaFin","endDate","{success: submittedProfessionalEducation && estudiosForm.fechaFin.$valid, error: submittedProfessionalEducation && estudiosForm.fechaFin.$invalid}","submittedProfessionalEducation && estudiosForm.fechaFin.$invalid")(ng-disabled="!estudiandoActual",ng-required="estudiandoActual && !editando")
			.layout-dateIF-last.padding-datedateIF-last
				+controlFilium-check("Estudiando Actualmente","checkEstudianto","checkEst","estudiandoActual=false","estudiandoActual=!estudiandoActual")
		.layout-content
			+controlFilium-textarea("Comentarios","Comentarios","studyComments","{success: submittedProfessionalEducation && estudiosForm.Comentarios.$valid, error: submittedProfessionalEducation && estudiosForm.Comentarios.$invalid}","submittedProfessionalEducation && estudiosForm.Comentarios.$invalid")(names)
		.button-container(ng-show="registrando")
			a.fbtn.fbtn-primary.cancel(href="javascript:void(0)",ng-click="mostrarForm=false") Cancelar
			a.fbtn.fbtn-primary(href="javascript:void(0)",ng-click="submittedProfessionalEducation=true;guardarEstudios(estudiosForm)") Registrar
		.button-container(ng-show="editando")
			a.fbtn.fbtn-primary.cancel(href="javascript:void(0)",ng-click="mostrarForm=false") Cancelar
			a.fbtn.fbtn-primary(href="javascript:void(0)",ng-click="submittedProfessionalEducation=true") Guardar Cambios
	.itemcv-container
		.itemcv(ng-repeat="matrizEstudio in matrizEstudios")
			.itemcv-info
				.itemcv-title
					em.fa.fa-book
					| {{matrizEstudio.organizacionName}}
				.itemcv-descripion(ng-show="matrizEstudio.incluirMencion") {{matrizEstudio.gradoAcademicoName}} - {{matrizEstudio.nombreCarrera}} - {{matrizEstudio.nombreMencion}}
				.itemcv-descripion(ng-show="!matrizEstudio.incluirMencion") {{matrizEstudio.gradoAcademicoName}} - {{matrizEstudio.nombreCarrera}}
				.itemcv-descripion(ng-show="matrizEstudio.estudiandoActualmente") {{matrizEstudio.fechaInicio}} - {{matrizEstudio.fechaFin}}
				.itemcv-descripion(ng-show="!matrizEstudio.estudiandoActualmente") {{matrizEstudio.fechaInicio}} - Presente
			.itemcv-image
				a.itemcv-option.edit(href="javascript:void(0)" ng-click="editarEstudios(matrizEstudio)") Editar
					i
				a.itemcv-option.remove(href="javascript:void(0)") Eliminar
					i



