+form-header-cv("Experiencia Laboral","laboralForm")
	.layout-content
		+controlFilium-select("Centro Laboral","centroLaboral","workCenter","{selectActive: selectChangecentroLaboral,success: submittedLaboral && laboralForm.centroLaboral.$valid, error: submittedLaboral && laboralForm.centroLaboral.$invalid}","submittedLaboral && laboralForm.centroLaboral.$invalid")(required)
	.layout-content
		+controlFilium-text("Nombre del Cargo","nombreCargo","job","{success: submittedLaboral && laboralForm.nombreCargo.$valid, error: submittedLaboral && laboralForm.nombreCargo.$invalid}","submittedLaboral && laboralForm.nombreCargo.$invalid")(names,required)
	.layout-content
		+controlFilium-textarea("Descripción","descripcionFunciones","jobDescription","{success: submittedLaboral && laboralForm.descripcionFunciones.$valid, error: submittedLaboral && laboralForm.descripcionFunciones.$invalid}","submittedLaboral && laboralForm.descripcionFunciones.$invalid")(names, required)
	.layout-content
		.layout-1-2.padding-1-2
			+controlFilium-date("Fecha de Inicio","fechaInicio","startDate","{success: submittedLaboral && laboralForm.fechaInicio.$valid, error: submittedLaboral && laboralForm.fechaInicio.$invalid}","submittedLaboral && laboralForm.fechaInicio.$invalid")(required)
		.layout-1-2.padding-1-2
			+controlFilium-date("Fecha de Fin","fechaFin","endDate","{success: submittedLaboral && laboralForm.fechaFin.$valid, error: submittedLaboral && laboralForm.fechaFin.$invalid}","submittedLaboral && laboralForm.fechaFin.$invalid")()
	.button-container
		a.fbtn.fbtn-primary.cancel(href="javascript:void(0)",ng-click="") Cancelar
		a.fbtn.fbtn-primary(href="javascript:void(0)",ng-click="submittedLaboral=true") Guardar Cambios