+form-header-cv("Habilidades","habilidadForm")
	.layout-content(ng-show="mostrarForm")
		.layout-content
			+controlFilium-select-empty("Habilidad","habilidad","abilityValue","{selectActive: selectChangehabilidad,success: submittedHabilidad && habilidadForm.habilidad.$valid, error: submittedHabilidad && habilidadForm.habilidad.$invalid}","submittedHabilidad && habilidadForm.habilidad.$invalid")(required)
				option(ng-repeat="options in abilityValueJson" value="{{options.id}}") {{options.value}}
		.layout-content
			+controlFilium-textarea("Descripcion","DescripcionHabilidades","abilitiesDescription","{success: submittedHabilidad && habilidadForm.DescripcionHabilidades.$valid, error: submittedHabilidad && habilidadForm.DescripcionHabilidades.$invalid}","submittedHabilidad && habilidadForm.DescripcionHabilidades.$invalid")(alphanumeric)
		.button-container(ng-show="registrando")
			a.fbtn.fbtn-primary.cancel(href="javascript:void(0)",ng-click="mostrarForm=false") Cancelar
			a.fbtn.fbtn-primary(href="javascript:void(0)",ng-click="submittedHabilidad=true") Registrar
		.button-container(ng-show="editando")
			a.fbtn.fbtn-primary.cancel(href="javascript:void(0)",ng-click="mostrarForm=false") Cancelar
			a.fbtn.fbtn-primary(href="javascript:void(0)",ng-click="submittedHabilidad=true") Guardar Cambios
	.itemcv-container
		.itemcv(ng-repeat="matrizHabilidad in matrizHabilidades")
			.itemcv-info
				.itemcv-title
					em.fa.fa-star
					| {{matrizHabilidad.habilidadName}}
				.itemcv-descripion {{matrizHabilidad.descripcion}}
			.itemcv-image
				a.itemcv-option.edit(href="javascript:void(0)" ng-click="editarHabilidades(matrizHabilidad)") Editar
					i
				a.itemcv-option.remove(href="javascript:void(0)") Eliminar
					i

