+form-header-cv("Idiomas","laboralForm")
	.layout-content
		.layout-1-2.padding-1-2
			+controlFilium-select("Idioma","idioma","language","{selectActive: selectChangeidioma,success: submittedIdioma && laboralForm.idioma.$valid, error: submittedIdioma && laboralForm.idioma.$invalid}","submittedIdioma && laboralForm.idioma.$invalid")(required)
		.layout-1-2.padding-1-2
			+controlFilium-select("Nivel de Dominio","nivelIdioma","languageLevel","{selectActive: selectChangenivelIdioma,success: submittedIdioma && laboralForm.nivelIdioma.$valid, error: submittedIdioma && laboralForm.nivelIdioma.$invalid}","submittedIdioma && laboralForm.nivelIdioma.$invalid")(required)
	.button-container
		a.fbtn.fbtn-primary.cancel(href="javascript:void(0)",ng-click="") Cancelar
		a.fbtn.fbtn-primary(href="javascript:void(0)",ng-click="submittedIdioma=true") Guardar Cambios