.variables(ng-init='hrefNosotros="/#/landing-nosotros"')
.variables(ng-init='hrefContactenos="/#/landing-contactenos"')
.variables(ng-init='hrefBlog="/#/landing-blog"')
.variables(ng-init='hrefLogin="/#/landing-login"')
.variables(ng-init='hrefRegistro="/#/landing-registro"')
.variables(ng-init='hrefFacebook="https://www.facebook.com/filium.pe"')
.variables(ng-init='phoneFilium="(01) 9238183"')