.landing-main-menu
			.landing-main-menu-item
				a(href="{{hrefBlog}}") Blog
			.landing-main-menu-item
				a(href="{{hrefContactenos}}") Contáctenos
			.landing-main-menu-item
				a(href="{{hrefLogin}}") Login
			.landing-main-menu-item.button
				a(href="{{hrefRegistro}}") Registro