

#carousel-example-generic.carousel.slide(data-ride='carousel')
	ol.carousel-indicators.carousel-indicators-landing
		li.carousel-indicators-landing-li.active(data-target='#carousel-example-generic', data-slide-to='0')
		li.carousel-indicators-landing-li(data-target='#carousel-example-generic', data-slide-to='1')
		li.carousel-indicators-landing-li(data-target='#carousel-example-generic', data-slide-to='2')
	.landing-phrase
		.carousel-inner(role='listbox')
			.item.active
				.landing-phrase-content “Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”
					i
				.common-conteiner
					.landing-phrase-author Diana E, Lima - Perú
						i
			.item
				.landing-phrase-content “Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”
					i
				.common-conteiner
					.landing-phrase-author Diana E, Lima - Perú
						i
			.item
				.landing-phrase-content “Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”
					i
				.common-conteiner
					.landing-phrase-author Diana E, Lima - Perú
						i
	.landing-phrase-shadow
	//- a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
	//- 	span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
	//- 	span.sr-only Previous
	//- a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
	//- 	span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
	//- 	span.sr-only Next


//- .landing-phrase
//- 	.landing-phrase-content “Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”
//- 		i
//- 	.common-conteiner
//- 		.landing-phrase-author Diana E, Lima - Perú
//- 			i
//- 	.common-conteiner.landing-dots
//- 		i
//- .landing-phrase-shadow