.landing-caricature-section
	.landing-caricature-section-title “ Bienestar emocional en cada situación de la vida ”
	.landing-caricature-content-ask ¿Sabías que?
	.landing-caricature-content
		.landing-caricature-content-cloud
			i
		.landing-caricature-speakcloud-left
			i
			.landing-caricature-speakcloud-left-text La depresión, a nivel mundial, está clasificada  como la causa más importante de discapacidad en la salud humana?.
		.landing-caricature-speakcloud-right
			i
				.landing-caricature-speakcloud-right-text Una de cada cuatro personas en el mundo padece alguna enfermedad mental a lo largo de su vida.
		.landing-caricature-psychologist
			i
	.landing-message-pos-caricature "No estás solo: Aprende y disfruta de cada momento de la vida, un psicólogo de Filium te ayudará a conseguir el bienestar emocional que todos necesitamos"
	.landing-caricature-content-cloud-right
		i
	.landing-only-logo
		i
	.landing-caricature-presentation-title Para ello nació Filium
	.landing-caricature-presentation-content
		.landing-caricature-presentation-description 
			p Filium te brinda atención psicológica por video consulta o llamada en el momento que necesites y desde el lugar más cómodo para ti. 
			p.landing-presentation-centerline “Confía en Filium”
			p
				.landing-title-line Profesionalismo:
				|Contamos con una Red de psicólogos clínicos colegiados con alta vocación de servicio y nos preocupamos que tengan una buena dosis de sensibilidad y empatía, para que sean capaces de ayudarte en encontrar el equilibrio emocional necesario para tu vida.
			p 
				.landing-title-line Confidencialidad:
				|Hemos establecido un código de ética en beneficio de preservar intacto el secreto profesional. 
			p 
				.landing-title-line Accesibilidad:
				|Invertimos en mantener una plataforma virtual de fácil acceso para que tu terapia se desarrolle sin inconvenientes.