.content-user-data
	.user-photo
		i
	.user-name Jose Antonio Rios Monterrey
	.user-options
		a(href="javascript:void(0)").user-options-item
			.user-options-item-icon
				i.icon-datosusuario
			.user-options-item-description Datos de usuario
		a(href="javascript:void(0)").user-options-item
			.user-options-item-icon
				i.icon-perfilusuario
			.user-options-item-description Perfil de usuario
		a(href="javascript:void(0)").user-options-item
			.user-options-item-icon
				i.icon-calendariocitas
			.user-options-item-description Calendario de citas
		a(href="javascript:void(0)").user-options-item
			.user-options-item-icon
				i.icon-cambiarcontrasena
			.user-options-item-description Cambiar contraseña
		a(href="javascript:void(0)").user-options-item
			.user-options-item-icon
				i.icon-cerrarsesion
			.user-options-item-description Cerrar sesión