.app-view-header Google Maps

.container-fluid(ng-controller="GoogleMapController as gmap")
  section#map
    h4 Click to add a marker!
    .row
      .col-md-2
        p(ng-if="myMarkers.length") Markers
        ul
          li(ng-repeat='marker in myMarkers')
            a(href="", ng-click='myMap.panTo(marker.getPosition())') Pan to Marker {{$index}}
      .col-md-10
        // this is the confusing part. we have to point the map marker directive  at an existing google.maps.Marker object, so it can hook up events
        div(ng-repeat='marker in myMarkers', ui-map-marker='myMarkers[$index]', ui-event="{'map-click': 'openMarkerInfo(marker)'}")
        div(ui-map-info-window='myInfoWindow')
          h1 Marker
          |   Lat: 
          input(ng-model='currentMarkerLat')
          | , Lng: 
          input(ng-model='currentMarkerLng')
          a(ng-click='setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)') Set Position
        // Giving the div an id="map_canvas" fix problems with twitter bootstrap affectinggoogle maps
        #map_canvas.gmap(ui-map='myMap', ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }", ui-options='mapOptions')
    p.text-right {{zoomMessage}}