
<div class="landing-contact-section">
  <div class="common-conteiner align-right">
    <div class="landing-main-menu">
      <div class="landing-main-menu-item"><a href="#">Blog</a></div>
      <div class="landing-main-menu-item"><a href="#">Contáctenos</a></div>
      <div class="landing-main-menu-item"><a href="#">Login</a></div>
      <div class="landing-main-menu-item button"><a href="#">Registro</a></div>
    </div>
  </div>
  <div class="common-conteiner">
    <div class="landing-logo"><i></i></div>
  </div>
  <div class="common-conteiner align-right">
    <form name="formLanding" class="landing-form">
      <div class="landing-form-title">Inicia tu cita en línea gratuita </div>
      <input type="text" name="name" id="name" ng-model="landing.Name" placeholder="Nombres y Apellidos" ng-pattern="/^[A-Za-zÑñáéíóúÁÉÍÓÚ^ ]*$/" ng-class="{ error: (submitted || formLanding.name.$dirty) &amp;&amp; formLanding.name.$invalid, success: formLanding.name.$valid }" required="required" class="landing-form-input"/>
      <div class="landing-form-contact-way">
        <div class="landing-form-contact-way-text">Elige el método de contacto: </div>
        <div class="landing-form-contact-way-options"><a href="javascript:void(0)" ng-click="llamada=true; skype=false" ng-class="{active: llamada}" class="button-to-contact call-button">Llamada Telefónica<i></i></a>
          <div class="landing-form-contact-way-options-text">ó</div><a href="javascript:void(0)" ng-click="llamada=false; skype=true" ng-class="{active: skype}" class="button-to-contact skype-button">Skype<i></i></a>
        </div>
      </div>
      <div ng-show="llamada || skype" class="input-vertical-space"></div>
      <input type="text" name="land-phone" ng-model="landing.Phone" maxlength="9" placeholder="Número de Celular" ng-show="llamada" onlynumber="onlynumber" class="landing-form-input"/>
      <input type="text" name="land-email" ng-model="landing.Email" placeholder="Correo Electrónico" ng-show="skype" class="landing-form-input"/>
      <div ng-show="llamada || skype" class="input-vertical-space"></div>
      <div class="landing-form-terms-conditions">
        <div ng-click="terminos= !terminos;" class="landing-rbtn"><i ng-class="{active: terminos}"></i></div><a href="#" class="landing-form-terms-conditions-text">Acepta los terminos y condiciones *</a>
      </div>
      <div class="landing-form-button"><a href="javascript:void(0)" ng-click="submitted=true" class="landing-primary-button">Reservar tu cita {{submitted}}</a></div>
    </form>
  </div>
  <div class="common-conteiner">
    <div class="landing-invitation-message">- Programa tu terapia psicológica en el momento más cómodo para tí -</div>
  </div>
</div>
<div class="landing-phrase">
  <div class="landing-phrase-content">“Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”<i></i></div>
  <div class="common-conteiner">
    <div class="landing-phrase-author">Diana E, Lima - Perú<i></i></div>
  </div>
  <div class="common-conteiner landing-dots"><i></i></div>
</div>
<div class="landing-phrase-shadow"></div>
<div class="landing-caricature-section">
  <div class="landing-caricature-section-title">“ Bienestar emocional en cada situación de la vida ”</div>
  <div class="landing-caricature-content-ask">¿Sabías que?</div>
  <div class="landing-caricature-content">
    <div class="landing-caricature-content-cloud"><i></i></div>
    <div class="landing-caricature-speakcloud-left"><i></i>
      <div class="landing-caricature-speakcloud-left-text">La depresión, a nivel mundial, está clasificada  como la causa más importante de discapacidad en la salud humana?.</div>
    </div>
    <div class="landing-caricature-speakcloud-right"><i>
        <div class="landing-caricature-speakcloud-right-text">Una de cada cuatro personas en el mundo padece alguna enfermedad mental a lo largo de su vida.</div></i></div>
    <div class="landing-caricature-psychologist"><i></i></div>
  </div>
  <div class="landing-message-pos-caricature">"No estás solo: Aprende y disfruta de cada momento de la vida, un psicólogo de Filium te ayudará a conseguir el bienestar emocional que todos necesitamos"</div>
  <div class="landing-caricature-content-cloud-right"><i></i></div>
  <div class="landing-only-logo"><i></i></div>
  <div class="landing-caricature-presentation-title">Para ello nació Filium</div>
  <div class="landing-caricature-presentation-content">
    <div class="landing-caricature-presentation-description"> 
      <p>Filium te brinda atención psicológica por video consulta o llamada en el momento que necesites y desde el lugar más cómodo para ti. </p>
      <p class="landing-presentation-centerline">“Confía en Filium”</p>
      <p>
        <div class="landing-title-line">Profesionalismo:</div>Contamos con una Red de psicólogos clínicos colegiados con alta vocación de servicio y nos preocupamos que tengan una buena dosis de sensibilidad y empatía, para que sean capaces de ayudarte en encontrar el equilibrio emocional necesario para tu vida.
      </p>
      <p> 
        <div class="landing-title-line">Confidencialidad:</div>Hemos establecido un código de ética en beneficio de preservar intacto el secreto profesional. 
      </p>
      <p> 
        <div class="landing-title-line">Accesibilidad:</div>Invertimos en mantener una plataforma virtual de fácil acceso para que tu terapia se desarrolle sin inconvenientes.
      </p>
    </div>
  </div>
</div>
<div class="landing-video-section">
  <div class="landing-video-play">Ver video<i></i></div>
</div>
<div class="landing-footer-bg">
  <div class="landing-footer-column">
    <div class="landing-footer-teamrequest">¿Quieres formar parte de nuestro equipo de psicólogos?</div><a href="#" class="landing-footer-teamrequest-btn">Conocer mas</a>
  </div>
  <div class="landing-footer-column">
    <div class="landing-footer-menu">
      <div class="landing-footer-menu-item"><a href="#">Nosotros</a></div>
      <div class="landing-footer-menu-item"><a href="#">Contáctenos</a></div>
      <div class="landing-footer-menu-item"><a href="#">Blog</a></div>
    </div>
    <form name="landingFooterForm">
      <div class="landing-footer-form-info">Ingresa  tu correo para mantenernos conectados</div>
      <input type="text" class="landing-footer-form-input"/>
    </form>
    <div class="landing-footer-social"><a href="#" class="social-icon facebook"><i></i></a><a href="#" class="social-icon twitter"><i></i></a><a href="#" class="social-icon youtube"><i></i></a></div>
    <div class="landing-footer-copyright">© Filium 2015. Todos los derechos reservados.</div>
  </div>
  <div class="landing-footer-column">
    <div class="landing-footer-phone-info">Linea Abierta para atención psicologica</div>
    <div class="landing-footer-phone-number">(01) 9238183<i></i></div>
  </div>
</div>
<div class="landing-footer-bg-smart">
  <div class="landing-footer-column">
    <div class="landing-footer-menu">
      <div class="landing-footer-menu-item"><a href="#">Nosotros</a></div>
      <div class="landing-footer-menu-item"><a href="#">Contáctenos</a></div>
      <div class="landing-footer-menu-item"><a href="#">Blog</a></div>
    </div>
    <div class="landing-footer-teamrequest">¿Quieres formar parte de nuestro equipo de psicólogos?</div><a href="#" class="landing-footer-teamrequest-btn">Conocer mas</a>
    <div class="landing-footer-phone-info">Linea Abierta para atención psicologica</div>
    <div class="landing-footer-phone-number">(01) 9238183<i></i></div>
    <form name="landingFooterForm">
      <div class="landing-footer-form-info">Ingresa  tu correo para mantenernos conectados</div>
      <input type="text" class="landing-footer-form-input"/>
    </form>
    <div class="landing-footer-social"><a href="#" class="social-icon facebook"><i></i></a><a href="#" class="social-icon twitter"><i></i></a><a href="#" class="social-icon youtube"><i></i></a></div>
    <div class="landing-footer-copyright">© Filium 2015. Todos los derechos reservados.</div>
  </div>
</div>