
<div ng-init="hrefNosotros=&quot;/#/landing-nosotros&quot;" class="variables"></div>
<div ng-init="hrefContactenos=&quot;/#/landing-contactenos&quot;" class="variables"></div>
<div ng-init="hrefBlog=&quot;/#/landing-blog&quot;" class="variables"></div>
<div ng-init="hrefLogin=&quot;/#/landing-login&quot;" class="variables"></div>
<div ng-init="hrefRegistro=&quot;/#/landing-registro&quot;" class="variables"></div>
<div ng-init="hrefFacebook=&quot;https://www.facebook.com/filium.pe&quot;" class="variables"></div>
<div ng-init="phoneFilium=&quot;(01) 9238183&quot;" class="variables"></div>
<div class="landing-contact-bg">
  <div class="landing-contact-bg-2"></div>
</div>
<div class="landing-contact-section">
  <div class="common-conteiner align-right">
    <div class="landing-main-menu">
      <div class="landing-main-menu-item"><a href="{{hrefBlog}}">Blog</a></div>
      <div class="landing-main-menu-item"><a href="{{hrefContactenos}}">Contáctenos</a></div>
      <div class="landing-main-menu-item"><a href="{{hrefLogin}}">Login</a></div>
      <div class="landing-main-menu-item button"><a href="{{hrefRegistro}}">Registro</a></div>
    </div>
  </div>
  <div class="common-conteiner"><a href="/#/" class="landing-logo"><i></i></a></div>
  <div class="common-conteiner align-right">
    <form name="formLanding" class="landing-form">
      <div class="landing-form-title">Inicia tu cita en línea gratuita </div>
      <div class="landing-form-group">
        <input type="text" name="landName" id="landName" ng-model="landing.names" placeholder="Nombres y Apellidos" maxlength="50" ng-class="{error: landingSubmit &amp;&amp; formLanding.landName.$invalid}" names="names" required="required" class="landing-form-input"/>
      </div>
      <div class="landing-form-contact-way">
        <div id="landing-form-contact-way-text" class="landing-form-contact-way-text">Elige el método de contacto:</div>
        <div class="landing-form-contact-way-options"><a href="javascript:void(0)" ng-click="variable.llamada=true; variable.skype=false;" ng-class="{active: variable.llamada}" class="button-to-contact call-button">Llamada Telefónica<i></i></a>
          <div class="landing-form-contact-way-options-text">ó</div><a href="javascript:void(0)" ng-click="variable.llamada=false; variable.skype=true;" ng-class="{active: variable.skype}" class="button-to-contact variable skype-button">Skype<i></i></a>
        </div>
      </div>
      <div ng-show="variable.llamada" class="landing-form-group">
        <input type="text" name="landPhone" id="landPhone" ng-model="landing.phone" maxlength="9" placeholder="Número de Celular" ng-required="variable.llamada" ng-class="{error: landingSubmit &amp;&amp; formLanding.landPhone.$invalid}" telefono="telefono" class="landing-form-input"/>
      </div>
      <div class="space-vertical"></div>
      <div ng-show="variable.skype" class="landing-form-group">
        <input type="text" name="landSkype" id="landSkype" ng-model="landing.skype" maxlength="32" ng-minlength="6" placeholder="Usuario de Skype" ng-required="variable.skype" ng-class="{error: landingSubmit &amp;&amp; formLanding.landSkype.$invalid}" skype="skype" class="landing-form-input"/>
      </div>
      <div class="space-vertical"></div>
      <div ng-show="variable.llamada || variable.skype" class="landing-form-group">
        <input type="text" name="landEmail" id="landEmail" ng-model="landing.email" placeholder="Correo Electrónico" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-class="{error: landingSubmit &amp;&amp; formLanding.landEmail.$invalid}" required="required" class="landing-form-input"/>
      </div>
      <div ng-init="loadHorarios=false" class="space-vertical"></div>
      <div ng-show="variable.llamada || variable.skype" class="landing-form-group">
        <input type="text" name="landDate" id="landDate" ng-model="landing.date" format="dd/MM/yyyy" ng-init="showSchedule=false" ng-minlength="10" ng-maxlength="10" placeholder="Elige la Fecha" ng-blur="showSchedule=true" ng-class="{error: landingSubmit &amp;&amp; !showSchedule}" readonly="readonly" class="landing-form-input"/>
      </div>
      <div class="space-vertical"></div>
      <div ng-show="showSchedule &amp;&amp; formLanding.landDate.$valid" class="landing-form-group">
        <select type="text" name="landSchedule" id="landSchedule" ng-model="landing.schedule" ng-class="{error: landingSubmit &amp;&amp; formLanding.landSchedule.$invalid, succes: formLanding.landSchedule.$valid}" required="required" class="landing-form-input landing-select">
          <option value="" disabled="disabled">Cargando horarios ...</option>
        </select>
      </div>
      <div class="landing-form-terms-conditions">
        <div ng-click="variable.terminos= !variable.terminos;rmvError('landing-terminos-condiciones');" class="landing-rbtn"><i ng-class="{active: variable.terminos}"></i></div>
        <div id="landing-terminos-condiciones" class="landing-form-terms-conditions-text">Acepta los <a href="#">términos y condiciones </a>*</div>
      </div>
      <div class="landing-form-button"><a href="javascript:void(0)" ng-click="reservarCita(formLanding);landingSubmit=true;" class="landing-primary-button">Reservar tu cita</a></div>
    </form>
    <script type="text/javascript">
      var diasDisponibles = [];
      $('#landDate').attr('placeholder','Cargando días...');
      $("#landDate").prop('disabled', 'disabled');
      consultaDiasDisponibles();
      function consultaDiasDisponibles(){
       $.ajax({
        type: "GET",
        url: "leerDiasDisponibles",
        dataType: "json",
        success : function(data) 
        {
         $.each(data,function(id,item){
          a = parseInt(item.substring(0,4));
          m = parseInt(item.substring(5,7));
          d = parseInt(item.substring(8,10));
          fechaPush = d+'-'+m+'-'+a;
          diasDisponibles.push(fechaPush);
         })
         $('#landDate').attr('placeholder','Elige la Fecha');
         $("#landDate").removeAttr('disabled');
        },
        error: function() 
        {
        
        }
       });
      }
      
      var availableDates = diasDisponibles;
      function available(date) {
       dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
       if ($.inArray(dmy, availableDates) != -1) {
        return [true, "","Available"];
       } else {
        return [false,"","unAvailable"];
       }
       
      }
      $.noConflict();
      $('#landDate').datepicker({ beforeShowDay: available });
      
      $.datepicker.regional['es'] = {
       closeText: 'Cerrar',
       prevText: '<Ant',
       nextText: 'Sig>',
       currentText: 'Hoy',
       monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
       monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
       dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
       dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
       dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
       weekHeader: 'Sm',
       dateFormat: 'dd/mm/yy',
       firstDay: 1,
       isRTL: false,
       showMonthAfterYear: false,
       yearSuffix: ''
      };
      $.datepicker.setDefaults($.datepicker.regional['es']);
    </script>
  </div>
  <div class="common-conteiner">
    <div class="landing-invitation-message">- Programa tu terapia psicológica en el momento más cómodo para tí -</div>
  </div>
</div>
<div id="carousel-example-generic" data-ride="carousel" class="carousel slide">
  <ol class="carousel-indicators carousel-indicators-landing">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="carousel-indicators-landing-li active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class="carousel-indicators-landing-li"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class="carousel-indicators-landing-li"></li>
  </ol>
  <div class="landing-phrase">
    <div role="listbox" class="carousel-inner">
      <div class="item active">
        <div class="landing-phrase-content">“Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”<i></i></div>
        <div class="common-conteiner">
          <div class="landing-phrase-author">Diana E, Lima - Perú<i></i></div>
        </div>
      </div>
      <div class="item">
        <div class="landing-phrase-content">“Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”<i></i></div>
        <div class="common-conteiner">
          <div class="landing-phrase-author">Diana E, Lima - Perú<i></i></div>
        </div>
      </div>
      <div class="item">
        <div class="landing-phrase-content">“Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”<i></i></div>
        <div class="common-conteiner">
          <div class="landing-phrase-author">Diana E, Lima - Perú<i></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-phrase-shadow"></div>
</div>
<div class="landing-caricature-section">
  <div class="landing-caricature-section-title">“ Bienestar emocional en cada situación de la vida ”</div>
  <div class="landing-caricature-content-ask">¿Sabías que?</div>
  <div class="landing-caricature-content">
    <div class="landing-caricature-content-cloud"><i></i></div>
    <div class="landing-caricature-speakcloud-left"><i></i>
      <div class="landing-caricature-speakcloud-left-text">La depresión, a nivel mundial, está clasificada  como la causa más importante de discapacidad en la salud humana?.</div>
    </div>
    <div class="landing-caricature-speakcloud-right"><i>
        <div class="landing-caricature-speakcloud-right-text">Una de cada cuatro personas en el mundo padece alguna enfermedad mental a lo largo de su vida.</div></i></div>
    <div class="landing-caricature-psychologist"><i></i></div>
  </div>
  <div class="landing-message-pos-caricature">"No estás solo: Aprende y disfruta de cada momento de la vida, un psicólogo de Filium te ayudará a conseguir el bienestar emocional que todos necesitamos"</div>
  <div class="landing-caricature-content-cloud-right"><i></i></div>
  <div class="landing-only-logo"><i></i></div>
  <div class="landing-caricature-presentation-title">Para ello nació Filium</div>
  <div class="landing-caricature-presentation-content">
    <div class="landing-caricature-presentation-description">
      <p>Filium te brinda atención psicológica por video consulta o llamada en el momento que necesites y desde el lugar más cómodo para ti. </p>
      <p class="landing-presentation-centerline">“Confía en Filium”</p>
      <p>
        <div class="landing-title-line">Profesionalismo:</div>Contamos con una Red de psicólogos clínicos colegiados con alta vocación de servicio y nos preocupamos que tengan una buena dosis de sensibilidad y empatía, para que sean capaces de ayudarte en encontrar el equilibrio emocional necesario para tu vida.
      </p>
      <p>
        <div class="landing-title-line">Confidencialidad:</div>Hemos establecido un código de ética en beneficio de preservar intacto el secreto profesional. 
      </p>
      <p>
        <div class="landing-title-line">Accesibilidad:</div>Invertimos en mantener una plataforma virtual de fácil acceso para que tu terapia se desarrolle sin inconvenientes.
      </p>
    </div>
  </div>
</div>
<div class="landing-video-section">
  <div class="landing-video-play"></div>
</div>
<div class="landing-footer-bg">
  <div class="landing-footer-column">
    <div class="landing-footer-teamrequest">¿Quieres formar parte de nuestro equipo de psicólogos?</div><a href="#" class="landing-footer-teamrequest-btn">Conocer mas</a>
  </div>
  <div class="landing-footer-column">
    <div class="landing-footer-menu">
      <div class="landing-footer-menu-item"><a href="{{hrefNosotros}}">Nosotros</a></div>
      <div class="landing-footer-menu-item"><a href="{{hrefContactenos}}">Contáctenos</a></div>
      <div class="landing-footer-menu-item"><a href="{{hrefBlog}}">Blog</a></div>
    </div>
    <form name="landingFooterForm">
      <div class="landing-footer-form-info">Ingresa  tu correo para mantenernos conectados</div>
      <input type="text" class="landing-footer-form-input"/>
    </form>
    <div class="landing-footer-social"><a href="{{hrefFacebook}}" target="_blank" class="social-icon facebook"><i></i></a><a href="#" class="social-icon twitter"><i></i></a><a href="#" class="social-icon youtube"><i></i></a></div>
    <div class="landing-footer-copyright">© Filium 2015. Todos los derechos reservados.</div>
  </div>
  <div class="landing-footer-column">
    <div class="landing-footer-phone-info">Linea Abierta para atención psicologica</div>
    <div class="landing-footer-phone-number">{{phoneFilium}}<i></i></div>
  </div>
</div>
<div class="landing-footer-bg-smart">
  <div class="landing-footer-column">
    <div class="landing-footer-menu">
      <div class="landing-footer-menu-item"><a href="{{hrefNosotros}}">Nosotros</a></div>
      <div class="landing-footer-menu-item"><a href="{{hrefContactenos}}">Contáctenos</a></div>
      <div class="landing-footer-menu-item"><a href="{{hrefBlog}}">Blog</a></div>
    </div>
    <div class="landing-footer-teamrequest">¿Quieres formar parte de nuestro equipo de psicólogos?</div><a href="#" class="landing-footer-teamrequest-btn">Conocer mas</a>
    <div class="landing-footer-phone-info">Linea Abierta para atención psicologica</div>
    <div class="landing-footer-phone-number">{{phoneFilium}}<i></i></div>
    <form name="landingFooterForm">
      <div class="landing-footer-form-info">Ingresa  tu correo para mantenernos conectados</div>
      <input type="text" class="landing-footer-form-input"/>
    </form>
    <div class="landing-footer-social"><a href="{{hrefFacebook}}" target="_blank" class="social-icon facebook"><i></i></a><a href="#" class="social-icon twitter"><i></i></a><a href="#" class="social-icon youtube"><i></i></a></div>
    <div class="landing-footer-copyright">© Filium 2015. Todos los derechos reservados.</div>
  </div>
</div>
<div id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="myModalLabel" class="modal-title popup-header-title">¡Muy bien! Tu cita ha sido reservada.</h4>
      </div>
      <div class="modal-body">¡Felicidades {{landing.names}}, ahora eres parte de Filium! Pronto nos pondrémos en contacto contigo. Toda la información de la cita será enviada al correo registrado: {{landing.email}}</div>
      <div class="modal-footer">
        <button type="button" ng-click="reloadRoute()" class="landing-primary-button landing-popup-button">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="myModalLabel" class="modal-title popup-header-title">No se pudo reservar la cita.</h4>
      </div>
      <div class="modal-body">Lo sentimos, alguien más acaba de reservar el horario seleccionado, elige otro horario para continuar.</div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="landing-primary-button landing-popup-button">Aceptar</button>
      </div>
    </div>
  </div>
</div>