include ./mixins/mixins-form.jade
include ./includes/header-int.jade
.body-container-filium.with-left-menu(ng-init="formularioActivo='CalendarioCitas'")
	include ./includes/left-menu.jade
	+form-header-comprimido("Cambiar contrase単a","formCambiarPassword")
		.section-left
			.content-seccion-left
				+controlFilium-password-vertical("Contrase単a Actual","passActual","passwordActual","{error: submittedCambiarPassword && formCambiarPassword.passActual.$invalid}","submittedCambiarPassword && formCambiarPassword.passActual.$invalid")(required)
				+controlFilium-password-vertical("Nueva Contrase単a","passNuevo","passwordNuevo","{error: submittedCambiarPassword && formCambiarPassword.passNuevo.$invalid}","submittedCambiarPassword && formCambiarPassword.passNuevo.$invalid")(required)
				+controlFilium-password-vertical("Confirmar Contrase単a","passConf","passwordConf","{error: submittedCambiarPassword && formCambiarPassword.passConf.$invalid}","submittedCambiarPassword && formCambiarPassword.passConf.$invalid")(required)
				.button-container-center
					a.fbtn.fbtn-primary(href="javascript:void(0)",ng-click="submittedCambiarPassword=true;cambiarPassword(formCambiarPassword)") Guardar Cambios