include ./includes/landing-variables.jade
.landing-contact-bg
	.landing-contact-bg-2
.landing-contact-section
	.common-conteiner.align-right
		include ./includes/landing-menu.jade
	include ./includes/landing-logo.jade
	.common-conteiner.align-right
		include ./includes/landing-form.jade
	.common-conteiner
		.landing-invitation-message - Programa tu terapia psicológica en el momento más cómodo para tí -
include ./includes/landing-comments.jade
include ./includes/landing-caricature.jade
include ./includes/landing-video.jade
include ./includes/landing-footer.jade







