.landing-nosotros-section
	.common-conteiner.align-right
		include ./includes/landing-menu.jade
	include ./includes/landing-logo.jade
	.landing-nosotros-marginlogo
	.content-cols-filium
		.common-conteiner.col-2-filium.jose
			.landing-ver-video
		.common-conteiner.col-2-filium
			.landing-nosotros-title Sobre Nosotros
			.landing-caricature-presentation-description.landing-nostros-description Filium te brinda atenci칩n psicol칩gica por video consulta o llamada en el momento que necesites y desde el lugar m치s c칩modo para ti. 
include ./includes/landing-comments.jade
.landing-specialist
	.landing-specialist-title Nuestros especialistas
	.landing-specialist-content
		.landing-specialist-item
			.landing-specialist-photo
				img(src="../../images/assets/especialista1.png")
			.landing-specialist-name Dr. Juan Torres
			.landing-specialist-subtitle Especilista en consulta
		.landing-specialist-item
			.landing-specialist-photo
				img(src="../../images/assets/especialista2.png")
			.landing-specialist-name Dr. Juan Torres
			.landing-specialist-subtitle Especilista en consulta
		.landing-specialist-item.last-child
			.landing-specialist-photo
				img(src="../../images/assets/especialista3.png")
			.landing-specialist-name Dr. Juan Torres
			.landing-specialist-subtitle Especilista en consulta
include ./includes/landing-footer.jade
