.landing-contact-bg
	.landing-contact-bg-2
.landing-contact-section
	.common-conteiner.align-right
		.landing-main-menu
			.landing-main-menu-item
				a(href="#") Blog
			.landing-main-menu-item
				a(href="#") Contáctenos
			.landing-main-menu-item
				a(href="#") Login
			.landing-main-menu-item.button
				a(href="#") Registro
	.common-conteiner
		.landing-logo
			i
	.common-conteiner.align-right
		form.landing-form(name="formLanding")
			.landing-form-title Inicia tu cita en línea gratuita 
			.landing-form-group
					input.landing-form-input(type="text", name="landName", id="landName", ng-model="landing.names", placeholder="Nombres y Apellidos", maxlength="50", ng-class="{error: landingSubmit && formLanding.landName.$invalid}", names, required)
			.landing-form-contact-way
				.landing-form-contact-way-text#landing-form-contact-way-text Elige el método de contacto:
				.landing-form-contact-way-options
					a(href="javascript:void(0)", ng-click="variable.llamada=true; variable.skype=false;", ng-class="{active: variable.llamada}").button-to-contact.call-button Llamada Telefónica
						i
					.landing-form-contact-way-options-text ó
					a(href="javascript:void(0)", ng-click="variable.llamada=false; variable.skype=true;", ng-class="{active: variable.skype}").button-to-contact.variable.skype-button Skype
						i
			.landing-form-group(ng-show="variable.llamada")
				input.landing-form-input(type="text", name="landPhone", id="landPhone", ng-model="landing.phone", maxlength="9", placeholder="Número de Celular",ng-required="variable.llamada", ng-class="{error: landingSubmit && formLanding.landPhone.$invalid}",telefono)
			.space-vertical
			.landing-form-group(ng-show="variable.skype")
				input.landing-form-input(type="text", name="landSkype", id="landSkype", ng-model="landing.skype", maxlength="32", ng-minlength='6' placeholder="Usuario de Skype",ng-required="variable.skype",ng-class="{error: landingSubmit && formLanding.landSkype.$invalid}",skype)
			.space-vertical
			.landing-form-group(ng-show="variable.llamada || variable.skype")
				input.landing-form-input(type="text", name="landEmail", id="landEmail", ng-model="landing.email", placeholder="Correo Electrónico", ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\\.[a-z.]{2,5}$/", ng-class="{error: landingSubmit && formLanding.landEmail.$invalid}",required)
			.space-vertical(ng-init="loadHorarios=false")
			.landing-form-group(ng-show="variable.llamada || variable.skype") 
				//- input.landing-form-input(type="text", name='landDate', id='landDate', ng-model="landing.date",  format="dd/MM/yyyy", min-date="01-10-2015", min-view="date", view="date", placeholder="Elige la Fecha", ng-blur="cargarHorarios()", ng-change="cargarHorarios()",ng-class="{error: landingSubmit && formLanding.landDate.$invalid}", date-time ,readonly, required) 
				input.landing-form-input(type="text", name="landDate", id="landDate", ng-model="landing.date",  format="dd/MM/yyyy", ng-init="showSchedule=false", placeholder="Elige la Fecha", ng-blur="showSchedule=true", ng-class="{error: landingSubmit && !showSchedule}", readonly )
			.space-vertical 
			.landing-form-group(ng-show="showSchedule") 
				select.landing-form-input.landing-select(type="text", name="landSchedule", id="landSchedule", ng-model="landing.schedule", ng-class="{error: landingSubmit && formLanding.landSchedule.$invalid, succes: formLanding.landSchedule.$valid}",required)
					option(value="" disabled) Cargando...
			.landing-form-terms-conditions
				.landing-rbtn(ng-click="variable.terminos= !variable.terminos;rmvError('landing-terminos-condiciones');")
					i(ng-class="{active: variable.terminos}")
				.landing-form-terms-conditions-text#landing-terminos-condiciones
					|Acepta los
					a(href="#") términos y condiciones 
					|*
			.landing-form-button
				a(href="javascript:void(0)" ng-click="reservarCita(formLanding);landingSubmit=true;").landing-primary-button Reservar tu cita
	.common-conteiner
		.landing-invitation-message - Programa tu terapia psicológica en el momento más cómodo para tí -
.landing-phrase
	.landing-phrase-content “Alguna veces he tenido que postergar mi visita al psicólogo porque el trabajo y el estudio me tienen la mayor parte del tiempo ocupada, pero ahora con Filium puedo seguir llevando mi terapia psicológica sin salir de casa, además evito el estrés del tráfico y los tiempos de desplazamiento”
		i
	.common-conteiner
		.landing-phrase-author Diana E, Lima - Perú
			i
	.common-conteiner.landing-dots
		i
.landing-phrase-shadow
//- input(type="text" name="date" id="date" readonly="readonly" size="12")
.landing-caricature-section
	.landing-caricature-section-title “ Bienestar emocional en cada situación de la vida ”
	.landing-caricature-content-ask ¿Sabías que?
	.landing-caricature-content
		.landing-caricature-content-cloud
			i
		.landing-caricature-speakcloud-left
			i
			.landing-caricature-speakcloud-left-text La depresión, a nivel mundial, está clasificada  como la causa más importante de discapacidad en la salud humana?.
		.landing-caricature-speakcloud-right
			i
				.landing-caricature-speakcloud-right-text Una de cada cuatro personas en el mundo padece alguna enfermedad mental a lo largo de su vida.
		.landing-caricature-psychologist
			i
	.landing-message-pos-caricature "No estás solo: Aprende y disfruta de cada momento de la vida, un psicólogo de Filium te ayudará a conseguir el bienestar emocional que todos necesitamos"
	.landing-caricature-content-cloud-right
		i
	.landing-only-logo
		i
	.landing-caricature-presentation-title Para ello nació Filium
	.landing-caricature-presentation-content
		.landing-caricature-presentation-description 
			p Filium te brinda atención psicológica por video consulta o llamada en el momento que necesites y desde el lugar más cómodo para ti. 
			p.landing-presentation-centerline “Confía en Filium”
			p
				.landing-title-line Profesionalismo:
				|Contamos con una Red de psicólogos clínicos colegiados con alta vocación de servicio y nos preocupamos que tengan una buena dosis de sensibilidad y empatía, para que sean capaces de ayudarte en encontrar el equilibrio emocional necesario para tu vida.
			p 
				.landing-title-line Confidencialidad:
				|Hemos establecido un código de ética en beneficio de preservar intacto el secreto profesional. 
			p 
				.landing-title-line Accesibilidad:
				|Invertimos en mantener una plataforma virtual de fácil acceso para que tu terapia se desarrolle sin inconvenientes.
.landing-video-section
	.landing-video-play Ver video
		i

//- Footer para pantalla grande
.landing-footer-bg
	.landing-footer-column
		.landing-footer-teamrequest ¿Quieres formar parte de nuestro equipo de psicólogos?
		a(href="#").landing-footer-teamrequest-btn Conocer mas
	.landing-footer-column
		.landing-footer-menu
			.landing-footer-menu-item
				a(href="#") Nosotros
			.landing-footer-menu-item
				a(href="#") Contáctenos
			.landing-footer-menu-item
				a(href="#") Blog
		form(name="landingFooterForm")
			.landing-footer-form-info Ingresa  tu correo para mantenernos conectados
			input(type="text").landing-footer-form-input
		.landing-footer-social
			a(href="#").social-icon.facebook
				i
			a(href="#").social-icon.twitter
				i
			a(href="#").social-icon.youtube
				i
		.landing-footer-copyright © Filium 2015. Todos los derechos reservados.
	.landing-footer-column
		.landing-footer-phone-info Linea Abierta para atención psicologica
		.landing-footer-phone-number (01) 9238183
			i

//- Footer para pantalla pequeña
.landing-footer-bg-smart
	.landing-footer-column
		.landing-footer-menu
			.landing-footer-menu-item
				a(href="#") Nosotros
			.landing-footer-menu-item
				a(href="#") Contáctenos
			.landing-footer-menu-item
				a(href="#") Blog
		.landing-footer-teamrequest ¿Quieres formar parte de nuestro equipo de psicólogos?
		a(href="#").landing-footer-teamrequest-btn Conocer mas
		.landing-footer-phone-info Linea Abierta para atención psicologica
		.landing-footer-phone-number (01) 9238183
			i
		form(name="landingFooterForm")
			.landing-footer-form-info Ingresa  tu correo para mantenernos conectados
			input(type="text").landing-footer-form-input
		.landing-footer-social
			a(href="#").social-icon.facebook
				i
			a(href="#").social-icon.twitter
				i
			a(href="#").social-icon.youtube
				i
		.landing-footer-copyright © Filium 2015. Todos los derechos reservados.

div.modal.fade#SuccessModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
	div.modal-dialog.modal-md(role='document')
		div.modal-content
			div.modal-header
				h4#myModalLabel.modal-title.popup-header-title ¡Muy bien! Tu cita ha sido reservada.
			div.modal-body
				| ¡Felicidades {{landing.names}}, ahora eres parte de Filium! Pronto nos pondrémos en contacto contigo. Toda la información de la cita será enviada al correo registrado: {{landing.email}}
			div.modal-footer
				button.landing-primary-button.landing-popup-button(type="button" ng-click="reloadRoute()") Aceptar

div.modal.fade#ErrorModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
	div.modal-dialog.modal-md(role='document')
		div.modal-content
			div.modal-header
				h4#myModalLabel.modal-title.popup-header-title No se pudo reservar la cita.
			div.modal-body
				| Lo sentimos, alguien más acaba de reservar el horario seleccionado, elige otro horario para continuar.
			div.modal-footer
				button.landing-primary-button.landing-popup-button(type="button" data-dismiss="modal") Aceptar



script(type='text/javascript').
	var availableDates = ["1-10-2015","30-9-2015"];
	function available(date) {
		dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		if ($.inArray(dmy, availableDates) != -1) {
			return [true, "","Available"];
		} else {
			return [false,"","unAvailable"];
		}

	}
	$.noConflict();
	$('#landDate').datepicker({ beforeShowDay: available });

	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '<Ant',
		nextText: 'Sig>',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
	};
	$.datepicker.setDefaults($.datepicker.regional['es']);





});