include ./mixins/mixins-form.jade
include ./includes/header-int.jade
.body-container-filium.with-left-menu(ng-init="formularioActivo='EditarCV'")
	include ./includes/left-menu.jade
	.formularioActivo(ng-show="formularioActivo=='EditarCV'")
		.form-filium-container 
			#calendar