body
	font-family: Roboto,Helvetica,Arial,sans-serif!important
// Consultorios:
.body-container-filium
	width: 100%
	min-height: 100%
	position: absolute
	top: 32px
	left: 0
	background-color: #f0f0f0
.with-left-menu
	padding-left: 355px
	transition: all .6s
	@media (max-width:$lg)
		padding-left: 0px
.ocupado
	background-color: #cccccc !important
.modal
	z-index: 9000!important